header{
	padding: 60px;
	text-align: center;
	background-color: #4a6f6f;
	color: white;
}
.navbar{
	background-color: #423434;
	display: flex;
}
.navbar a{
	color: #fff;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
.navbar a:hover{
	background-color: #ddd;
	color: black;
}
.content{
	display: flex;
	flex-wrap: wrap;
}
.levakcontent{
	background-color:#d867d5;
	padding: 20px;
	flex: 30%;
}
.fakeimg{
	background-color: #52878f;
	width: 100%;
	padding: 20px;
}
.maincontent{
	flex:70%;
	background-color: white;
	padding: 20px;
}
*{
	box-sizing: border-box;
}
footer{
	padding: 20px;
	text-align: center;
	background-color:red;
}
@media screen and (max-width: 700px){
	.content, .navbar{
		flex-direction: column;
	}
}